/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form input::-webkit-input-placeholder {
    color: #aab7c4;
}

#profile-update-form input::-moz-placeholder {
    color: #aab7c4;
}

#profile-update-form input:-ms-input-placeholder {
    color: #aab7c4;
}

#profile-update-form input::-ms-input-placeholder {
    color: #aab7c4;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}