{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- basket header -->
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 mt-5">Your Basket</h2>
            <hr>
        </div>
    </div>
    <!-- Items in the Basket -->
    {% if basket_items %}
    <div class="row mt-4">
        <div class="col-sm-12 col-xl-8  wrp">
            {% for item in basket_items %}
            <div class="row mb-4 pt-3">
                <div class="col-12 col-sm-6">
                    {% if item.product.image %}
                    <img class="img-basket rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="img-basket rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-12 col-sm-6">
                    <div class="row">
                        <!-- Cake name -->
                        <div class="col-6 col-sm-4 mt-3 text-center">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </div>

                        <!-- Price -->
                        <div class="col-6 col-sm-4 mt-3 text-center">
                            <p><strong>Price:</strong></p>
                            <p>£{{ item.product.price }}</p>
                        </div>

                        <!-- Quantity -->
                        <div class="col-12 col-sm-4 mt-3">
                            <form class="form update-form" method="POST"
                                action="{% url 'adjust_basket' item.item_id %}">
                                {% csrf_token %}
                                <p><strong>Quantity:</strong></p>
                                <div class="form-group qty-width">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black btn-sm rounded"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <i class="fas fa-minus fa-sm"></i>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" name="quantity"
                                            value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black btn-sm rounded"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <i class="fas fa-plus fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-qty text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right"
                                id="remove_{{ item.item_id }}"><small>Remove</small></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-lg-12 col-xl-4 py-4 text-right">
            <div class="text-right text-dark-blue">
                <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                <h4 class="mt-4"><strong>Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 text-danger">
                    You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                </p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Delivery Button -->
    <div class="row">
        <div class="col text-right">
            <a href="{% url 'checkout' %}" class="btn btn-black rounded btn-lg">
                <span class="text-uppercase">Proceed To Delivery </span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <!-- Empty Basket -->
    {% else %}
    <div class="col">
        <p class="lead mb-5">Your basket is empty.</p>
    </div>
    <div class="col offset-md-8">
        <a href="{% url 'products' %}" class="btn shop-now-button btn-lg rounded py-3">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-qty').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}