html {
    height: 100%;
}

body {
    background: url('/media/background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    min-height: 100vh;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/* make the footer stay at the bottom  */
.wrap-container {
  padding-bottom: 2.5rem;
  flex: 1;
}

.h-90 {
    height: 90% !important;
}

.hero-font {
    font-family: 'Dancing Script', cursive;
}

.hd-bg-color {
    background-color: #D8C7FF;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-dark-blue {
    color:  #05182A !important;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #D8C7FF;
    color: #05182A;
    min-width: 260px;
}

.btn-black {
    background: #05182A;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.dropdown-item:hover,
.dropdown-item:active, 
.dropdown-item:focus {
    background: rgb(79, 45, 83);
    color: white;
}

.bg-banner {
    background: rgb(79, 45, 83) !important;
    color: white;
}

.email-form {
    width: 80%;
}

.footer-bg {
    position: inherit;
    bottom: 0;
    width: -webkit-fill-available;
    height: auto;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.card-color {
    background: #D8C7FF;
    color: #05182A;
}

.card-footer {
    background: rgb(79, 45, 83) !important;
    color: white;
}

/* Cake details Page */
.qty_right {
    text-align: right;
}

.w-30 {
    width: 30% !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* padding the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 134px;
    }

    body {
        height: calc(100vh - 140px);
    }

    .display-4 {
    font-size: 3rem;
    }
}

/* Padding and font-size for Galaxy Fold compativility */
@media (max-width: 310px){
    .header-container {
        padding-top: 190px;
    }

    .display-4 {
    font-size: 2rem;
    }
}