html {
    height: 100%;
}

body {
    background: url('/media/background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    min-height: 100vh;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.title {
    border: 2px solid #01447e;
    border-radius: 50px;
    padding: 10px;
}

.right-border-line {
    border-right: 1px solid #605e5ed6;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Breadcrumb */
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: rgba(216, 199, 255, 0);
}

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}

/* Add a slash symbol (<) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "<";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #05182A;
    text-decoration: underline;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* make the footer stay at the bottom  */
.wrap-container {
    padding-bottom: 2.5rem;
    flex: 1;
}

.h-90 {
    height: 90% !important;
}

.hero-font {
    font-family: 'Dancing Script', cursive;
}

.hd-bg-color {
    background-color: #D8C7FF;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-dark-blue {
    color:  #05182A !important;
}

.border-blue {
    border: 1px solid #01447e !important;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #D8C7FF;
    color: #05182A;
    min-width: 260px;
}

.btn-black {
    background: #05182A;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.dropdown-item:hover,
.dropdown-item:active, 
.dropdown-item:focus {
    background: rgb(79, 45, 83);
    color: white;
}

.bg-banner {
    background: rgb(79, 45, 83) !important;
    color: white;
}

.email-form {
    width: 80%;
}

.footer-bg {
    position: inherit;
    bottom: 0;
    width: -webkit-fill-available;
    height: auto;
}

.card-color {
    background: #D8C7FF;
    color: #05182A;
}

.card-footer {
    background: rgb(79, 45, 83) !important;
    color: white;
}

/* Cake details Page */
.qty_right {
    text-align: right;
}

.w-30 {
    width: 30% !important;
}

/* -------------------------------- Model CSS */

.modal-header{
    border-bottom: 0 !important;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 936px;
    }
}

/* -------------------------------- Allauth form CSS */

.allauth-form-inner-content p {
    margin-top: 2rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 4px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover,
.allauth-form-inner-content a:hover {	
    background: rgb(79, 45, 83);
    color: white;
}

.allauth-form-inner-content a {
	color: #007bff;
}

/* -------------------------------- Add Products */


.border-blue:focus,
.border-blue:active {
  box-shadow: 0 1px 3px 0 #01447e !important;
}

/* -------------------------------- Edit/create Products */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
    color: #fff;
}

.custom-checkbox .custom-control-label::before {
    border-color: #01447e;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: 0 1px 3px 0 #01447e !important;
}

/* -------------------------------- Media Queries */

/* Larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
  
}

/* Quantity bar input on xl & medium size screens */
@media (min-width: 768px){

    .qty-width{
       width: fit-content !important;
    }
}
@media (max-width: 540px){
    .qty-width{
        width: 80% !important;
    }
}
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* On mobile Style */
@media (max-width: 991px) {
    /* padding the top a bit when navbar is collapsed */
    .header-container {
        padding-top: 6rem;
    }

    body {
        height: calc(100vh - 140px);
    }

    .display-4.hero-font.text-dark-blue {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }
    .btn.btn-outline-black.rounded,
    .btn.btn-black.rounded {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded.btn-lg,
    .btn.btn-black.rounded.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    /* Background at cakes on mobile */
    .product-details-container {
        background: #D8C7FF;
        color: #05182A;
    }

    /* Basket */
    .img-basket {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .dropdown-item {
        padding: .25rem .2rem;
        font-size: small;
        
    }
}



/* Padding and font-size for 280px screens */
@media (max-width: 320px){
    .nav-link {
        padding: 0.10rem;
    }

    .nav-link i.fa-sm {
        font-size: 0.75rem;
    }

    .navbar-toggler {
        padding: .3rem .3rem;
        font-size: .75rem;
    }

    #delivery-banner h4 {
        font-size: .6rem;
    }
    .btn.btn-outline-black.rounded,
    .btn.btn-black.rounded {
        padding: .275rem .275rem;
    }

    .btn.btn-outline-black.rounded.btn-lg,
    .btn.btn-black.rounded.btn-lg {
        padding: .27rem .27rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .15rem .25rem !important;
    }

    .text-center p.my-0 {
        font-size: .75rem;
    }

    .dropdown-item {
        padding: .25rem .2rem;
        font-size: x-small;
    }
}