<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark-blue mr-5" href="#" id="all-cakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CAKES
            </a>
            <div class="hd-bg-color dropdown-menu border-0" aria-labelledby="all-cakes-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Cakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark-blue mr-5" href="#" id="categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CATEGORIES
            </a>
            <div class="hd-bg-color dropdown-menu border-0" aria-labelledby="categories-link">
                <a href="{% url 'products' %}?category=sponge" class="dropdown-item">Sponge</a>
                <a href="{% url 'products' %}?category=fruit" class="dropdown-item">Fruit</a>
                <a href="{% url 'products' %}?category=cheesecake" class="dropdown-item">Cheesecake</a>
                <a href="{% url 'products' %}?category=cupcake" class="dropdown-item">Cupcakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark-blue mr-5" href="#" id="occasions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                OCCASIONS
            </a>
            <div class="hd-bg-color dropdown-menu border-0" aria-labelledby="occasions-link">
                <a href="{% url 'products' %}?category=wedding" class="dropdown-item">Wedding</a>
                <a href="{% url 'products' %}?category=birthday" class="dropdown-item">Birthday</a>
                <a href="{% url 'products' %}?category=anniversary" class="dropdown-item">Anniversary</a>
                <a href="{% url 'products' %}?category=special,occasions" class="dropdown-item">Special Occasions</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-dark-blue" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CONTACT US
            </a>
        </li>
    </ul>
</div>