<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark-blue mr-5" href="#" id="all-cakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CAKES
            </a>
            <div class="hd-bg-color dropdown-menu border-0" aria-labelledby="all-cakes-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item ">By Rating</a>
                <a href="#" class="dropdown-item ">By Category</a>
                <a href="#" class="dropdown-item">All Cakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark-blue mr-5" href="#" id="categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CATEGORIES
            </a>
            <div class="hd-bg-color dropdown-menu border-0" aria-labelledby="categories-link">
                <a href="" class="dropdown-item">Sponge</a>
                <a href="" class="dropdown-item">Fruit</a>
                <a href="" class="dropdown-item">Cheesecake</a>
                <a href="" class="dropdown-item">Cupcakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark-blue mr-5" href="#" id="occasions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                OCCASIONS
            </a>
            <div class="hd-bg-color dropdown-menu border-0" aria-labelledby="occasions-link">
                <a href="" class="dropdown-item">Wedding</a>
                <a href="" class="dropdown-item">Birthday</a>
                <a href="" class="dropdown-item">Anniversary</a>
                <a href="" class="dropdown-item">Special &amp; Occasions</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link text-dark-blue" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CONTACT US
            </a>
        </li>
    </ul>
</div>