<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-3">
                    <i class="fas fa-check-circle fa-5x"></i>
            </div>
            <div class="col-9">
                {{ message }}
            </div>
        </div>
    </div>

    <div class="row">

        {% if basket_items %}
        <div class="col-12 col-lg-6 text-right mb-2">
            <a href="{% url 'view_basket' %}" class="btn btn-black rounded btn-lg">
                <span class="text-uppercase">Proceed to Basket</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        {% endif %}
        
        <div class="col-12 col-lg-6 text-right mb-2">
            <a href="{% url 'products' %}" class="btn btn-black rounded btn-lg">
                <span class="text-uppercase">Continue Shopping</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>